@model _036_MoviesMvcWissen.Models.ViewModels.ReportsMoviesViewModel

@{
    ViewBag.Title = "Movies";
    var ajaxOptions = new AjaxOptions()
    {
        AllowCache = false,
        Url = Url.Action("MoviesAjax", "Reports"),
        HttpMethod = "GET",
        UpdateTargetId = "divMovies",
        InsertionMode = InsertionMode.Replace
    };

}

<h2>Movies</h2>
<div class="container" id="divMovies">
    @*<div> style="width: 100%; overflow-x:auto"</div>*@
    @Html.Partial("_Movies" , Model)

</div>
@using (Ajax.BeginForm(null, null, ajaxOptions, new { id = "fMovies" }))
{
    <div class="row">

        <div class="col-md-10 col-sm-8 col-8"></div>
        <div class="col-md-2 col-sm-4 col-4">
            @Html.DropDownList("PageNumber", Model.PageNumbers, new { @class = "form-control ddlPageNumber" })
        </div>

    </div>
}
<script>
    $(document).ready(function () {
        $(".ddlPageNumber").change(function () {
            $("#fMovies").submit();
        });
    });
</script>
@section ajaxScript
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}