
@{
    ViewBag.Title = "Add Movie";
}

<h2>@ViewBag.Title</h2>
<p style="color: #57a13e">
    @ViewBag.Message
</p>
<form action="~/Movies/Add" method="post">
    <div class="form-group">
        <label for="tbName">Name</label>
        <input type="text" class="form-control" id="tbName" name="Name" />   @*formdaki verileri almak için name propertysini kullanıyoruz*@

    </div>
    <div class="form-group">
        <label for="ddltbProductionYear">Production Year</label>
        <select id="ddlProductionYear" name="ProductionYear" class="form-control">
            @for (int i = 1000; i <= DateTime.Now.Year; i++)
            {
                <option value="@i" selected>@i</option>
                
            }

          
        </select>
    </div>
    <div class="form-group">
        <label for="tbBoxOfficeReturn">BoxOfficeReturn</label>
        <input type="text" class="form-control" id="tbBoxOfficeReturn" name="BoxOfficeReturn">
    </div> 
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-warning">Reset</button>

</form>

